<div>
	<div id="empty"></div>
	<div id="child">
		<div></div>
	</div>

	<div id="empty-view" data-view="capra/view/View"></div>

	<div id="parsed" data-view="capra/view/View" data-view-cid="testing"></div>

	<div id="child-view">
		<div data-view="capra/view/View"></div>
	</div>
</div>